
/*Welcome*/
#landing {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)),
	url(./images/background/staircase.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


/*Services*/
#services {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
    url(./images/background/desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.services {
    padding: 100px 0;
}


/*What we do*/
.card {
    height: 410px;
}

.card-shadow {
    box-shadow: 0 0 10px, rgba(red, green, blue, alpha);
}

.design-img {
	width: 30%;
	margin: auto;
}


/*Portfolio*/

.portfolio-text {
	position: absolute;
    padding: 2cm;
	height: 80%;
	width: 80%;
	top: 0;
	left: 0;
	text-align: center;
	display:block;
	align-items: center;
	justify-content: center;
}


/*Contact us*/
#contactUs {
    background-image: url(./images/background/old\ pc\ dark.jpg);
    background: linear-gradient(rgba(0, 0, 0,), rgba(0,0,0));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*Footer*/
h6 {
    font-size: 11px;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: center;
}