
#landing {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)),
	url(./images/background/staircase.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#services {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
    url(./images/background/desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.services {
    padding: 100px 0;
}

.card {
    height: 410px;
}

.card-shadow {
    box-shadow: 0 0 10px, rgba(red, green, blue, alpha);
}

.design-img {
	width: 30%;
	margin: auto;
}